body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid black;
}

.tsum{
    display: block;
    text-align: center;
    padding: 10px;
}

.textsum{
    font-family: cursive;
    margin-top: 0;
    color: firebrick;
}

.btn{
    background: cyan;
    font-size: 1rem;
    border: 2px solid brown;
    border-radius: 10px;
    color: limegreen;
    font-weight: bolder;
}

.btn:hover{
    border: 2px solid #2a9fa5;
    background: #beff00;
    color: #7704a5;
}
